/* Header design */
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1020;
  height: max-height;
  background: rgba(255, 255, 255, 0.9);
  /*border: 5px solid rgb(0, 255, 0);*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* Add some padding for better spacing */
}

.main-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100vw; /* Ensure it covers the whole screen width */
}

.nav {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  /*border: 3px solid black;*/
}

.nav-item {
  text-decoration: none;
  /*border: 2px solid blue;*/
  height: fit-content;
  margin: 0 10px; /* Add margin between nav items */
}


/* Responsive styles */
@media (max-width: 800px) {
    .main-div {
        width: 100vw;
    }
}

@media (max-width: 400px) {
    .main-div {
        width: 100vw;
    }
}

@media (max-width: 300px) {
    .main-div {
        width: 100vw; 
    }
}